
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ffmpeg Tool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>

    <div ng-app="ffmpegTool" class="container">
        <div ng-controller="mainController">

			<h2>Options</h2>
            <div class="form-row">			
				<div class="form-group col-xs-6 col-md-6 col-lg-6">
					<label>Input Filename</label>
					<input type="text" class="form-control" ng-model="input.fileName" drag-and-drop-target placeholder="Input filename">
					<small>You can drag and drop your file to this box.</small>
				</div>

                <div class="form-group col-xs-6 col-md-6 col-lg-6">
                    <label>Output Filename</label>
                    <input type="text" class="form-control" ng-model="output.fileName" placeholder="Output filename">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbInput">
                        <label class="form-check-label" for="cbInput">Automatic</label>
                    </div>                    
                </div>
            </div>

			
            <div class="form-row form-group">
                <div class="form-group col-xs-6 col-md-6 col-lg-6">
                    <label>Start</label>
                    <input type="time" step="2" class="form-control" ng-model="start.time" />
                </div>
                <div class="form-group col-xs-6 col-md-6 col-lg-6">
                    <label>End</label>
                    <input type="time" step="2" class="form-control" ng-model="end.time" />
                </div>
            </div>
            		
            <div class="form-row">
                <label>Command Line</label>
                <textarea id="commandLine" class="form-control" ng-bind="getCommandLine()" cols="125" rows="10" readonly></textarea>
                <div class="panel panel-default col-lg-12">
                    <div class="panel-body">
                        <button ng-click="copyToClipboard('#commandLine')" class="btn btn-outline-success btn-lg btn-block">Copy</button>
                    </div>
                </div>
                </div>

            </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="utility.js"></script>

    <script src="app.js"></script>
    <script src="controllers/main.js"></script>
    <script src="directives/dragAndDropTarget.js"></script>

</body>
</html>